.category {
    float: right;
    color: grey;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.item-created-by {
    color: grey;
}

.img-circle {
    max-width: 25px;
    margin-right: 1em;
}