{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{category}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col-lg-8 col-centered">
        <h2>{{curr_category}}</h2>
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    <a href="/{{item.category_name}}/{{item.name}}">
                        {{item.name}}
                    </a>
                    <a href="/{{item.category_name}}">
                        <span class="category">{{item.category_name}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}